.delete-spot-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgb(3, 1, 1);
}

.delete-spot-modal h2 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 10px;
}

.delete-spot-modal p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
}

.delete-button {
    flex: 1;
    background-color: #e74c3c;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.delete-button:hover {
    background-color: #c0392b;
}

.keep-button {
    flex: 1;
    background-color: #57779a;
    color: white;
    border: none;
}

.keep-button:hover {
    background-color: #3f5872;
}

#modal-content{
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0 4px 6px rgba(28, 2, 61, 0.472);
    background-color: white;
}